<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>update Page</h2> 		
	</div>

	<a href="/home">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			<tr>
				<td>ID: </td>
				<td><input type="text" readonly name="id" value="<%= employee.id %>"></td>
			</tr>
			<tr>
				<td>Employeename: </td>
				<td><input type="text" name="ename" value="<%= employee.ename %>"></td>
			</tr>
			<tr>
				<td>Contact no: </td>
				<td><input type="text" name="contno" value="<%= employee.contno %>"></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="uname" value="<%= employee.uname %>"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" name="password" value="<%= employee.password %>"></td>
			</tr>
			
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Update"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>